* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* -------- FONDO(corazon)  -------- */
.bg-heart{
  position: fixed;
  width: 150vw;
  max-width: 725px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  fill: url(#heartGradient);
  opacity: 0;
  transition: opacity 1.2s ease, transform 1.2s ease;
  z-index: -1;
}
.bg-heart.show{
  opacity: 1;
  transition: 1.6s ease, trasform 1.6s ease;
  transform: translate(-50%,-50%) scale(1);
}
/* -------- ESCENA  -------- */
.scene {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 90vw;
  max-width: 360px;
  height: auto;
  
}

/* -------- SOBRE -------- */
.envelope {
  position: absolute;
  width: 60vw;
  max-width: 220px;
  height: calc(60vw * 0.65);
  max-height: 140px;
  background: #e6d5b8;
  left: 50%;
  right: 50%;
  transform: translate(-50%,-50%) scale(0.5);
  transform-origin: center;
  transition: all 1s ease;
}

.envelope-top {
  position: absolute;
  width: 100%;
  height: 50%;
  background: #d4c2a4;
  transform-origin: top;
  transition: transform 0.8s ease;
}

.envelope.open .envelope-top {
  transform: rotateX(180deg);
}

/* -------- PAPEL -------- */
.letter {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25vw;
  max-width: 320px;
  height: auto;
  min-height: 100px;
  aspect-ratio: 4/3;
  background: white;
  padding: 25px;
  left: 50%;
  right: 50%;
  transform: translate(-50%,-50%) scale(0.8);
  transition: all 1s ease;
}

.letter.show{
    transform: translate(-50%,-40%) scale(1)
}

/* -------- BOTONES -------- */
.choices {
  position: fixed;
  top: 25vh;
  left: 50%;
  transform: translate(-50%,20px);
  display: flex;
  gap: 10vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s ease, transform 0.6s ease;
    
}
.choices button{
    padding: 1vh 4vh;
    font-size: 21px;
    border-radius: 30px;
    border: 3px solid #F21B5C;
    box-shadow: 0 5px 15px rgba(240, 23, 23, 0.877);
    background: transparent;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    letter-spacing: 0.5px;
}
.choices.show{
  opacity: 1;
  transform: translate(-50%,0);
  pointer-events: auto;
}



/* -------- ESTADOS -------- */
.hidden {
  opacity: 0;
  transform: translate(-50%,-50%) scale(0.3);
  pointer-events: none;
}

.show {
  opacity: 1;
  transform: translate(-50%,-50%) scale(1);
}

.fade-out {
  opacity: 0;
  transform: translate(-50%,-50%) scale(0.5);
}

@media(max-width:480px){
    .letter{
      width: 90vw;
      aspect-ratio: 5/4;
    }
    .scene{
      align-items: flex-start;
      padding-top: 20vh;
    }
    .body{
        align-items: flex-start;
        padding-top: 10vh;
    }
    .letter{
        font-size: 15px;
        padding: 16px;
    }
    .choices{
        flex-direction: column;
    }
}


